section {
    font-family: sans-serif,Tahoma,Verdana;
}

article {
    float: left;
}

body {
    padding: 0;
    margin: 0;
}

form {
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #CC3300;
    max-width: 500px;
}

h1 {
    /* entre em contato */
    margin-bottom: 20px;
    margin-left: 20px;
    color: #000000;
    text-shadow: 5px 5px 5px rgb(212, 209, 209);
}

h6 {
    /* escrita opcoes */
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 30px;
    color: #000000;
    text-shadow: 5px 5px 5px rgb(212, 209, 209);
}

h4 {
    /* Escritas da opcoes(contato) */
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 20px;
    color: #000000;
    text-shadow: 5px 5px 5px rgb(212, 209, 209);
}


input, textarea {
    width: 200px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    border-color: #000000;
    box-shadow: 5px 0px 9px #ccccc8;
    background-color: #dae0e0;
    color: black;
    font-weight: bold;
}

.enviar {
    background-color: #ffffff;
    height: 40px;
    width: 200px;
    font-weight: bold;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid;
    color: black;
}

textarea {
    width: 400px;
    height: 120px;
    line-height: 20px;
    max-width: 400px;
}

form label {
    margin-left: 20px;
    color: #FFFFFF;
    font-weight: bold;
}